<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestNG Framework for Test Automation">
	<test name="testNG Test">
		<classes>
			<class name="com.testNg.practice.DependsOnAnnotation" />
			<class name="com.testNg.practice.GoogleTitleTest" />
			<class name="com.testNg.practice.GroupsAnnotation" />
			<class name="com.testNg.practice.PriorityAnnotation" />
			
		</classes>
	</test>
</suite>
